@import "bootstrap";
@import "bourbon";
@import "entypo";
@import "static";
@charset "UTF-8";

.custom-nav {
  margin-top: 15px;
}

.mini-field {
  width: 200px;
}

.top-space {
  margin-top: 5px;
}

.disabled {
  color: gray;
  text-decoration: line-through;
  pointer-events: none;
}

.index-icons {
  font-size: 1.5em;
}

.index-icons:hover {
  text-decoration: none;
  color: black;
}

.nav-icon {
  width: 50px;
  margin-right: 0;
}

.btn-employee-home {
  white-space: normal !important;
}