@import "bootstrap";
@import "bourbon";

.custom-nav {
  margin-top: 15px;
}

.mini-field {
  width: 200px;
}

.top-space {
  margin-top: 5px;
}

.disabled {
  color: gray;
  text-decoration: line-through;
  pointer-events: none;
}